<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Productquestion>
      <version>0.1.6</version>
    </Magebuzz_Productquestion>
  </modules>
  <frontend>
    <routers>
      <productquestion>
        <use>standard</use>
        <args>
          <module>Magebuzz_Productquestion</module>
          <frontName>productquestion</frontName>
        </args>
      </productquestion>
    </routers>
    <layout>
      <updates>
        <productquestion>
          <file>productquestion.xml</file>
        </productquestion>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_productquestion>
          <files>
            <default>Magebuzz_Productquestion.csv</default>
          </files>
        </Magebuzz_productquestion>
      </modules>
    </translate>
  </frontend>
  <default>
    <productquestion>
      <general>
        <enabled>1</enabled>
        <show_in_product_detail>0</show_in_product_detail>
        <allow_guest_ask_question>1</allow_guest_ask_question>
        <enable_question_captcha>1</enable_question_captcha>
        <enable_email_confirmation>1</enable_email_confirmation>
        <public_key>your_site_key_here</public_key>
        <private_key>your_secret_key_here</private_key>
      </general>
      <email>
        <send_email_to_admin>hello@magebuzz.com</send_email_to_admin>
        <email_admin_template>productquestion_email_email_admin_template</email_admin_template>
        <email_customer_template>productquestion_email_email_customer_template</email_customer_template>
        <email_confirmation>productquestion_email_email_confirmation</email_confirmation>
      </email>
    </productquestion>
  </default>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules><Magebuzz_Productquestion after="Mage_Adminhtml">Magebuzz_Productquestion_Adminhtml</Magebuzz_Productquestion></modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <Magebuzz_productquestion>
          <files>
            <default>Magebuzz_Productquestion.csv</default>
          </files>
        </Magebuzz_productquestion>
      </modules>
    </translate>
    <layout>
      <updates>
        <productquestion>
          <file>productquestion.xml</file>
        </productquestion>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <productquestion>
        <class>Magebuzz_Productquestion_Model</class>
        <resourceModel>productquestion_mysql4</resourceModel>
      </productquestion>
      <productquestion_mysql4>
        <class>Magebuzz_Productquestion_Model_Mysql4</class>
        <entities>
          <productquestion>
            <table>productquestion</table>
          </productquestion>
          <productquestionproduct>
            <table>productquestion_product</table>
          </productquestionproduct>
          <productquestionstore>
            <table>productquestion_store</table>
          </productquestionstore>
        </entities>
      </productquestion_mysql4>
    </models>
    <resources>
      <productquestion_setup>
        <setup>
          <module>Magebuzz_Productquestion</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </productquestion_setup>
      <productquestion_write>
        <connection>
          <use>core_write</use>
        </connection>
      </productquestion_write>
      <productquestion_read>
        <connection>
          <use>core_read</use>
        </connection>
      </productquestion_read>
    </resources>
    <blocks>
      <productquestion>
        <class>Magebuzz_Productquestion_Block</class>
      </productquestion>
      <adminhtml>
        <rewrite>
          <catalog_product_edit_tabs>Magebuzz_Productquestion_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <productquestion>
        <class>Magebuzz_Productquestion_Helper</class>
      </productquestion>
    </helpers>
    <template>
      <email>
        <productquestion_email_email_admin_template translate="label" module="productquestion">
          <label>New Question Notification</label>
          <file>new_question_notification.html</file>
          <type>html</type>
        </productquestion_email_email_admin_template>
        <productquestion_email_email_customer_template translate="label" module="productquestion">
          <label>New Reply Notification</label>
          <file>new_reply_notification.html</file>
          <type>html</type>
        </productquestion_email_email_customer_template>
        <productquestion_email_email_confirmation translate="label" module="productquestion">
          <label>New Question Confirmation</label>
          <file>new_question_confirmation.html</file>
          <type>html</type>
        </productquestion_email_email_confirmation>
      </email>
    </template>
  </global>
</config>